<div class="sidebar bg-dark text-white p-3" style="width: 250px;">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Gerador de CPF</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Gerador de CNPJ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Gerador de RG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">Gerador de CNH</a>
    </li>
    <li>
      <a class = "nav-link text-white" href="#">Gerador de LoremImpsum</a>
    </li>
    <li>
      <a class = "nav-link text-white" href="#">Gerador de Nomes</a>
    </li>
    <li>
      <a class = "nav-link text-white" href="#">Gerador de Senhas</a>
    </li>
    <li>
      <a class = "nav-link text-white" href="#">Validador de CPF</a>
    </li>
    <li>
      <a class = "nav-link text-white" href="#">Validador de CNPJ</a>
    </li>
    <li>
      <a class = "nav-link text-white" href="#">Validador de RG</a>
    </li>




  </ul>
</div>
