<div class="home-container">
  <h1>Bem-vindo ao DevToolsHub</h1>
  <h2>Oferecemos geradores e validadores de dados, como CNPJ e CPF, para ajudar desenvolvedores</h2>

  <div class="grid-container">
    <div class="grid-item">
      <img [src]="imgPath" alt="Serviço 1">
      <a href="https://www.example.com/servico1">Gerador de CPF</a>
    </div>
    <div class="grid-item">
      <img [src]="imgPath" alt="Serviço 2">
      <a href="https://www.example.com/servico2">Gerador de CNPJ</a>
    </div>
    <div class="grid-item">
      <img [src]="imgPath" alt="Serviço 3">
      <a href="https://www.example.com/servico3">Gerador de RG</a>
    </div>
    <div class="grid-item">
      <img [src]="imgPath" alt="Serviço 4">
      <a href="https://www.example.com/servico4">Gerador de CNH</a>
    </div>
    <div class="grid-item">
      <img [src]="imgPath" alt="Serviço 5">
      <a href="https://www.example.com/servico5">Gerador de Loremipsum</a>
    </div>
    <div class="grid-item">
      <img [src]="imgPath" alt="Serviço 6">
      <a href="https://www.example.com/servico6">Gerador de Nomes</a>
    </div>
    <div class="grid-item">
      <img [src]="imgPath" alt="Serviço 7">
      <a href="https://www.example.com/servico7">Gerador de Senhas</a>
    </div>
    <div class="grid-item">
      <img [src]="imgPath" alt="Serviço 8">
      <a href="https://www.example.com/servico8">Validador de CPF</a>
    </div>
    <div class="grid-item">
      <img [src]="imgPath" alt="Serviço 9">
      <a href="https://www.example.com/servico8">Validador de CNPJ</a>
    </div>
    <div class="grid-item">
      <img [src]="imgPath" alt="Serviço 10">
      <a href="https://www.example.com/servico8">Validador de RG</a>
    </div>
  </div>
</div>
