<div class="home-container">
  <h1>Bem-vindo ao DevToolsHub</h1>
  <h2>Oferecemos geradores e validadores de dados, como CNPJ e CPF, para ajudar desenvolvedores</h2>

  <div class="grid-container">
    <div class="grid-item">
      <img [src]="imgPath" alt="Serviço 1">
      <a href="https://www.example.com/servico1">Serviço 1</a>
    </div>
    <div class="grid-item">
      <img src="imagem2.jpg" alt="Serviço 2">
      <a href="https://www.example.com/servico2">Serviço 2</a>
    </div>
    <div class="grid-item">
      <img src="imagem3.jpg" alt="Serviço 3">
      <a href="https://www.example.com/servico3">Serviço 3</a>
    </div>
    <div class="grid-item">
      <img src="imagem4.jpg" alt="Serviço 4">
      <a href="https://www.example.com/servico4">Serviço 4</a>
    </div>
    <div class="grid-item">
      <img src="imagem5.jpg" alt="Serviço 5">
      <a href="https://www.example.com/servico5">Serviço 5</a>
    </div>
    <div class="grid-item">
      <img src="imagem6.jpg" alt="Serviço 6">
      <a href="https://www.example.com/servico6">Serviço 6</a>
    </div>
    <div class="grid-item">
      <img src="imagem7.jpg" alt="Serviço 7">
      <a href="https://www.example.com/servico7">Serviço 7</a>
    </div>
    <div class="grid-item">
      <img src="imgTest.png" alt="Serviço 8">
      <a href="https://www.example.com/servico8">Serviço 8</a>
    </div>
    <div class="grid-item">
      <img src="imgTest.png" alt="Serviço 9">
      <a href="https://www.example.com/servico8">Serviço 8</a>
    </div>
    <div class="grid-item">
      <img src="imgTest.png" alt="Serviço 10">
      <a href="https://www.example.com/servico8">Serviço 8</a>
    </div>
  </div>
</div>
